@import 'nib'

wet_asphalt = #2c3e50
midnight_blue = #34495e
concrete = #95a5a6
asbestos = #7f8c8d
nephritis = #2ecc71

*
  box-sizing(border-box)

.clearfix:before, .clearfix:after
  content " "
  display table

.clearfix:after
  clear both

.clearfix
  *zoom 1

.left
  float left

.right
  float right

body
  font-family: Helvetica, sans-serif
  margin: 0
  overflow: hidden

html, body, #main, .sidebar, .panel
  height: 100%

header
  height: 50px
  color: white
  background: asbestos
  width: 100%
  display: block
  margin: 0
  padding: 5px

  h1
    margin: 0

ul
  padding: 0px
  margin: 0px

#main
  width: 100%

.sidebar, .panel
  position: absolute
  top: 50px
  left: 0

.sidebar
  width: 250px
  background: wet_asphalt
  color: white

  h2
    margin: 20px

  li
    padding: 15px 0px 15px 20px
    margin: 0px
    list-style-type: none
    font-size: 20px
    cursor: pointer

  li:hover
    background: midnight_blue

.panel
  margin-left: 250px
  background: concrete
  padding: 20px
  width: 100%

.vuln
  padding: 10px
  list-style-type: none
  border-bottom: 1px solid wet_asphalt

  div
    padding: 5px

  h3
    margin: 5px
